@page
@using MyBooks
@model XML_Project.Pages.Genre2Model
@{
    ViewData["Title"] = "NonFiction";
    BooksInfo books = (BooksInfo)ViewData["BooksInfo"];
}



<head>
    <link rel="stylesheet" href="site.css">
</head>

<div class="text-center">
    <h1 class="display-4">Best Non-Ficton Books of All time</h1>
    <p>Non-Fiction Books</p>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
        </tr>
        </thead>
        @{
            foreach (Item book in books.Items)
            {
                var authors1 = "";
                foreach (var x in @book.VolumeInfo.Authors)
                {
                    authors1 = authors1 + " " + x;
                }
                <tr>
                    <td><img src="@book.VolumeInfo.ImageLinks.Thumbnail" alt="MyImg" /></td>
                    <td>@book.VolumeInfo.Title</td>
                    <td>@authors1</td>
                    <td class="desp">@book.VolumeInfo.Description</td>
                </tr>
            }

            }
        
    </table>
</div>
