@page
@using MyBooksBestSellers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    BestSellers books = (BestSellers)ViewData["BestSellers"];
    
}
<head>
    <link rel="stylesheet" href="site.css">
</head>

<div class="text-center">
    <div class="container">

        <div class="row">

            <div class="col">

                <img src="/Images/BookBrowse_Logo.jpg" alt="BookBrowse" width="300" height="400" />

            </div>

            <div class="col">

                <h1 class="Welcome">Welcome to BookBrowse!</h1>
                <h3>What are you reading next?</h3>
                <h3>Let's browse..</h3>

            </div>

        </div>

    </div>
    <h2>NY Times Best Selling Books for Fiction</h2></br>
    <table class="index-table1">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
        </tr>
        @{
            foreach (Book book in books.Results.Books)
            {
                var authors1 = "";
                foreach(var x in @book.Author)
                {
                    authors1 = authors1 + x;
                }
                <tr>
                    <td><img src="@book.BookImage" alt="MyImg"/></td>
                    <td>@book.Title</td>
                    <td>@authors1</td>
                    <td>@book.Description</td>
                </tr>
            }
            
        }
    </table>
</div>
