@page
@using MyBooksBestSellers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string errorMessage = (String)ViewData["ErrorMessage"];
    BestSellers books = (BestSellers)ViewData["BestSellers"];
    
}
<head>
    <link rel="stylesheet" href="site.css">
</head>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
            <img src="/Images/Cover1.png" class="d-block w-100"   height = "400" alt="Cover1">
    </div>
    <div class="carousel-item">
            <img src="/Images/Cover2.png" class="d-block w-100"  height="400"  alt="Cover2">
    </div>
    <div class="carousel-item">
            <img src="/Images/Cover3.png" class="d-block w-100"  height="400" alt="Cover3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="text-center">
@if (errorMessage == null)
{

    <div class="container">

        <div class="row">

            <div class="col">

                <img src="/Images/BookBrowse_Logo.jpg" alt="BookBrowse" width="300" height="400" />

            </div>

            <div class="col">

                <h1 class="Welcome">Welcome to BookBrowse!</h1>
                <h3>What are you reading next?</h3>
                <h3>Let's browse..</h3>

            </div>

        </div>



    </div>


    <h2>NY Times Best Selling Books for Fiction</h2>
</br>
    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
           <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
        </tr>
        </thead>
        @{
            foreach (Book book in books.Results.Books)
            {
                var allAuthors = "";
                foreach(var author in @book.Author)
                {
                    allAuthors = allAuthors + author;
                }
                <tr>
                    <td><img src="@book.BookImage" alt="MyImg"/></td>
                    <td>@book.Title</td>
                    <td>@allAuthors</td>
                    <td>@book.Description</td>
                </tr>
            }
            
        }
    </table>

}
@if (errorMessage == null)
{
    <h4>@errorMessage</h4>
}
</div>


