@page
@using MyBooksBestSellers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    BestSellers books = (BestSellers)ViewData["BestSellers"];
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>NY Times Best Selling Books for Fiction</p>
    <table>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
        </tr>
        @{
            foreach (Book book in books.Results.Books)
            {
                var authors1 = "";
                foreach(var x in @book.Author)
                {
                    authors1 = authors1 + " " + x;
                }
                <tr>
                    <td><img src="@book.BookImage" alt="MyImg"/></td>
                    <td>@book.Title</td>
                    <td>@authors1</td>
                    <td>@book.Description</td>
                </tr>
            }
            
        }
    </table>
</div>
