@page
@using MyBooks
@model XML_Project.Pages.SearchResultModel
@{
    ViewData["Title"] = "Thriller";
    BooksInfo books = (BooksInfo)ViewData["BooksInfo"];
   
}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Movie Details</title>
    </head>


    <body id="movieResultBody">

    <div id="text-center">
        <h1 class="display-4"> Search Book</h1>
        <div class="row">
            <div class="col">
                <form action="" method="get"
                      class="form-inline">
                    <div class="row">
                       
                        <div class="col-8">
                            <input asp-for="Query" class="form-control mr-sm-2 md-2" placeholder="Search Title / Author / ISBN" /><br />
                        </div>
                         <div class="col-1">
                            <center><button type="submit" class="btn btn-primary mb-2"> Search </button></center>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    @if (Model.SearchCompleted)
    {
       
       <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr>
            <th>Image</th>    
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
        </tr>
        </thead>
            @{

                foreach (Item book in books.Items)
                {
                    if (@book.VolumeInfo.ImageLinks != null && @book.VolumeInfo.Authors!= null)
                    {
                        var authors1 = "";
                        foreach (var x in @book.VolumeInfo.Authors)
                        {
                            authors1 = authors1 + " " + x;
                        }
                        try
                        {

                            <tr>
                                <td><img src="@book.VolumeInfo.ImageLinks.Thumbnail" alt="MyImg"/></td>
                                <td>@book.VolumeInfo.Title</td>
                                <td>@authors1</td>
                                <td class="desp">@book.VolumeInfo.Description</td>
                            </tr>
                        }
                        catch (Exception err)
                        {
                            Console.WriteLine(err);
                        }
                    }
            }

            }
            
            
    </table>


    }



     
  
    </body>
</html>